{{{html}}}

<aside class="gh-upgrade-cta">
    {{#if @member}}
        <h2>{{t "This post is for paying subscribers only"}}</h2>
    {{else}}
        <h2>{{t "This post is for subscribers only"}}</h2>
    {{/if}}
    <a class="gh-button gh-button-large gh-button-primary" href="/signup/">{{t "Subscribe now"}}</a>
    <p><small>{{t "Already have an account?"}}<a href="/signin/">{{t "Sign in"}}</a></small></p>
</aside>